@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
body {
  background-color: #1d4944;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #878D93;
  text-align: center;
  background-color: #EFEFEF;
  font-size: 300%;
  /*
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  */
  letter-spacing: 1px;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
#call-to-action p {
  font-size: 200%;
  text-align: left;
  font-weight: 600;
  color: #FEFEFE;
  text-shadow: 0 1px 10px rgba(0, 0, 0, .5);
  padding: 4%;
  width: 75%;
  margin: auto;
}
#call-to-action a {
  text-align: center;
  background-color: #56BC8A;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 40%;
  font-size: 200%;
  border-radius: 52px;
  border: 5px solid rgba(0, 0, 0, 0);
  margin: auto;
  padding: 2%;
  line-height: 125%;
}
#call-to-action a:hover {
  background-color: rgba(120, 244, 130, 0.75);
  border: 5px solid rgba(254, 254, 254, 0.8);
}

/*
TODO need fix in Firefox
*/

#call-to-action {
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0);
}
