@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
body {
  background-color: #EFEFEF;
  font-family: 'Raleway', sans-serif;
  /*
  width: 320px;
  height: 480px;
  border: 2px solid black;
  */
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #878D93;
  text-align: center;
  background-color: #EFEFEF;
  font-size: 300%;
  /*
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  */
  letter-spacing: 1px;
  margin-bottom: 33px;
  text-transform: uppercase;
  font-weight: bold;

  /*
  padding: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
  */

}
#call-to-action  {
  padding: 5%;
  padding-top: 2.5%;
}

#call-to-action p.text1 {
  font-size: 250%;
  font-weight: bold;
  padding: 5%;
  text-align: center;
  color: #878D93;
}

section.rdv p {
  font-size: 300%;
  text-align: center;
  font-weight: 600;
  color: #878D93;
  padding-top: 1%;
  padding-bottom: 4%;
  font-size: 250%;
  font-weight: normal;
}
#call-to-action section.services {
  margin: auto;
  text-align: center;
  font-weight: 600;
  color: #FEFEFE;
  background-color: #1d4944;
  text-shadow: 0 1px 10px rgba(0, 0, 0, .5);
  padding: 2rem;
  margin: 2% auto;
  margin-bottom: 0;
  font-size: 250%;
  text-transform: uppercase;
}
#call-to-action p.services {
  color: #1d4944;
  font-size: 175%;
  margin: 5%;
}
#call-to-action p.description {
  font-size: 175%;
  font-weight: normal;
}
#call-to-action p.text {
  font-size: 175%;
  font-weight: normal;
}
#call-to-action a {
  text-align: center;
  background-color: #56BC8A;
  color: white;
  text-decoration: none;
  display: block;
  width: 25%;
  font-size: 300%;
  border-radius: 26px;
  border: 5px solid rgba(0, 0, 0, 0);
  margin: auto;
  padding: 2%;
  line-height: 125%;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
#call-to-action a:hover {
  background-color: rgba(120, 244, 130, 0.75);
  border: 5px solid rgba(254, 254, 254, 0.8);
  color: #1d4944;
}

/*
TODO need fix in Firefox
*/


/*
#call-to-action {
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0);
}
*/
