@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
body {
  background-color: #E6E6E6;
  font-family: 'Raleway', sans-serif;
  /*
  width: 320px;
  height: 480px;
  border: 2px solid black;
  */
}
h1 {
  color: #EFEFEF;
  text-align: center;
  background-color: #1d4944;
  font-size: 180%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
  letter-spacing: 1px;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}
form {
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#call-to-action {
  padding: 2%;
  border: 2px solid rgba(0, 0, 0, 0);
  ;
}
#call-to-action p {
  font-size: 140%;
  font-weight: 400;
  color: #626262;
  line-height: 125%;
}
#call-to-action p.privacy {
  font-size: 95%;
  font-weight: 400;
  line-height: 125%;
}
.input {
  border: 3px solid #56BC8A;
  line-height: 125%;
  border-radius: 0.5rem;
  padding: .75rem .55em .75rem .75rem;
  background-color: white;
  font-size: 200%;
  line-height: 125%;
  margin-right: 3px;
  width: 280px;
}
.button {
  text-align: center;
  background-color: #56BC8A;
  color: white;
  text-decoration: none;
  font-size: 200%;
  line-height: 125%;
  border-radius: 26px;
  padding: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
}
.button:hover {
  background-color: rgba(120, 244, 130, 0.75);
  border: 5px solid rgba(254, 254, 254, 0.8);
  color: #1d4944;
}

/*
TODO need fix in Firefox
*/

#call-to-action {
  text-align: center;
  position: relative;
  top: 42%;
  transform: translateY(-50%);
}
